	<!-- BOOTSTRAP STYLES-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    
     <!-- TABLE STYLES-->
    <link href="js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
   
     <!-- DATA TABLE SCRIPTS -->
    <script src="js/dataTables/jquery.dataTables.js"></script>

    <script src="js/dataTables/dataTables.bootstrap.js"></script>

    <link href="css/estilo1.css" rel="stylesheet">
  
    <link rel="stylesheet" href="js/jquery-ui-themes-1.12.0/themes/base/jquery-ui.css">
    <script src="js/jquery-ui-1.12.0/jquery-ui.js"></script>
    
    <script src="js/bootstrap-notify/bootstrap-notify.js"></script>
    <link href="css/myNotify.css" rel="stylesheet">
    <script src="js/myNotify.js"></script>
    
        

    
<script>
    $( function() {
        $( "#a_fecha2" ).datepicker({
            changeMonth: true,
            changeYear: true
        });
        $( "#a_fecha" ).datepicker({
            changeMonth: true,
            changeYear: true
        });
    }); 
</script>

<div class="container-fluid">          
           <!-- /. ROW  -->              
            <div  class="row">
            <div class="col-md-2">
            </div>
                 <!-- aqui tamaño de tablas  -->               
                <div class="col-md-8">
                    <!-- Advanced Tables -->
                    <div  class="panel panel-default">
                        <div class="panel-heading">
                            <div class="div-cabeza">
                                <div class="div-logo-titulo">
                                    <img src="images/img-sis/cand1.png">
                                    <p class="titulo-gestiones"  id="titulo-pantalla">Cambio BENEFICIARIO a SOCIO</p>     
                                </div>                                
                                <fieldset class="col-md-12 fielset-mio" >        
	                                    <legend>Parámetros::</legend>
<div class="container-fluid">
  <div class="row">	              
  									
	                               <div class="col-md-4">
	                                 <form id="paramform" action="dptosmon.html" method="POST">  

	                                    	<label><input type="radio" name="estado" value="1" class="paramsChange" #if($estado== 1) checked #end>Activos</label>
									      	<label><input type="radio" name="estado" value="0" class="paramsChange" #if($estado== 0) checked #end>Nulos</label>
									      	<label><input type="radio" name="estado" value="2" class="paramsChange" #if($estado== 2) checked #end>Todos</label>
									</form>   
	                               </div>
									<div class="col-md-8 pull-right">        
										        #if (${PA}=="A")             
				                                    <button class="pull-right" data-toggle="modal" id="myModal-btn">
				                                        <img src="images/img-sis/add_2.png" style="width:30px; height:30px;">
				                                    </button>
			                                    #else
			                                    	<button class="pull-right" data-toggle="modal">
				                                        <img src="images/img-sis/noadd_2.png" style="width:30px; height:30px;">
				                                    </button>
			                                    #end
			                                    <!-- BOTON TO PRINT -->
			                                    <button class="pull-right" id="print">
			                                        <img src="images/img-sis/print.png" style="width:30px; height:30px;">
			                                    </button>			                                  
	                               </div>
  </div>
</div>									    
                                </fieldset>                                                               
                            </div>
                        </div>
                        <div >
                            <div class="espacio-small"></div>
                            <div class="table-responsive">
 <div id="lisDptos-det">
                                <table  class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="text-center ancho-icono">#</th>
                                            <th class="col-sm-0 text-center">Cod.Per</th>
                                            <th class="col-sm-0 text-center">Fecha Transac.</th>
                                            <th class="col-sm-0" width="60%">Beneficiario Socio</th>
                                            <th class="col-sm-0 text-center">EST</th>
                                            <th class="col-sm-0">DEL</th>
                                        </tr>
                                    </thead>
                                    <tbody>     
                                    	#set($con=1)
                                    	#foreach($reg in $xTras)	                                   
                                         <tr class="gradeU">
                                            <td class="text-center">${con}</td>
                                            <td>${reg.codper}</td>
                                            <td>${reg.getFecharegFormat()}</td>
                                            <td>${reg.getDatosPersona()}</td>
                                            <td class="text-center ancho-icono">
                                            	#if (${reg.estado}==1)
                                            		<img src="images/img-sis/hand_up.png" id="btn-modificar" style="width:25px;">
                                            	#else	
                                            		<img src="images/img-sis/hand_down.png" style="width:25px;">
                                            	#end
                                            </td>
                                             <td class="text-center ancho-icono">
		                                       #if (${reg.estado}==1) 
		                                            #if (${PB}=="B")
		                                            	<a  href="javascript:void(0)" onclick="javascript:eliminarDpto('${reg.codt}','${reg.codper}','${reg.getDatosPersona()}')">
		                                            		<img src="images/img-sis/del.png" style="width:25px;" title="Eliminar Traspaso a Socio..">
		                                            	</a>
		                                            #else
		                                            	<img src="images/img-sis/nodel.png" style="width:25px;" title="SIN PRIVILEGIOS..">
		                                            #end	
	                                           #else
                                					<img src="images/img-sis/nodel.png" style="width:25px;" title="NO ES USUARIO ACTIVO..">
                                			   #end   
                                            </td>
                                         </tr>                        
                                        #set($con=$con + 1)
                                       #end               
                                    </tbody>
                                </table>
</div>                                
                            </div>                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            <div class="col-md-2">
            </div>
            
            </div>
</div>

<input type="hidden" name="opcion" id="opcion_json" value="${op_json}" >

<!--  Modals ADICIONAR -->
<div class="panel-body">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <br><br><br>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabl">Nuevo Cambio Beneficiario</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="traspasocioServices_201.html" method="POST" id="addform">
	                    <div class="form-group">
		                    <label class="control-label col-xs-3">
		                    <span style="color:red;font-size:18px;">*</span>Fecha::</label>
		                    <div class="col-xs-4">                               		                    
		                    	<input type="text" class="form-control" name="a_fecha2" id="a_fecha2" placeholder="dd/mm/aaaa" disabled>
		                    	<input type="HIDDEN" class="form-control" name="a_fecha" id="a_fecha">
		                    </div>
		                </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3">
                            <span style="color:red;font-size:18px;">*</span>Beneficiario::</label>
                            <div class="col-xs-9">
	                            <input type="text" class="form-control" name="a_socio" id="a_socio" placeholder="Buscar Beneficiario.." required>
	                            <input type="HIDDEN"  id="a_socio_2" >
	                            <input type="HIDDEN" name="a_socio_val" id="a_socio_val" >
                            </div>
                        </div>
                        <input type="hidden" name="opcion" value="${opAdd}" >
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary boton-add" id="btnAcept_add">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modals MYMODAL-->


<!--  Modals ELIMINAR TRASPASO BENEFICIARIO -->
<div class="panel-body">
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">    
        <br><br><br>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabl">Seguro de Traspaso a Socio ?</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="dptosServices.html" method="POST" id="delform">
                        <div class="form-group">
                            <label class="control-label col-xs-3">Beneficiario::</label>
                            <div class="col-xs-6">
                            	<input type="hidden" name="d_codper" id="d_codper">
                            	<input type="hidden" name="d_codt" id="d_codt">
                                <input type="text" class="form-control" name="d_nombre" id="d_nombre" disabled>
                            </div>
                        </div>
                        <input type="hidden" name="opcion" value="${opDel}" >
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnAcept_del">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modals ELIMINAR-->

     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ -->
    
    <link rel="stylesheet" href="js/jquery-ui-themes-1.12.0/themes/base/jquery-ui.css">
    <script src="js/jquery-ui-1.12.0/jquery-ui.js"></script>    
    
<script>

//LLAMADA ADICIONAR NUEVO TRASPASO
$("#myModal-btn").click(function(){	
	
	listaBeneficiarios();
	
	$('#myModal').modal('show');
	
	$('#myModal').modal().on('shown', function(){
	    $('body').css('overflow', 'hidden');
	}).on('hidden', function(){
	    $('body').css('overflow', 'auto');
	})
	
});

function listaBeneficiarios(){  
		var op_json=$("#opcion_json").val();    	    
		$.ajax({
			    data: {"opcion" : op_json },
			    type: "POST",
			    dataType: "json",
			    url: "traspasocioServices_201.html",
			    success: function(respuesta) {
				    	//inicio autocompletar
				     	$('#a_socio').autocomplete({  	 
				            source : JSON.parse(JSON.stringify(respuesta)),
				             minLength:1,
				             select: function(event, ui){  
				                 // just in case you want to see the ID
				                 var accountVal = ui.item.value;
				                 // now set the label in the textbox
				                 var accountText = ui.item.label;
				                 $('#a_socio').val(accountText);
				                 $('#a_socio_2').val(accountText);
				                 $('#a_socio_val').val(accountVal);   			          
				                 return false;
				             },
				             focus: function( event, ui ) {
				                 $( "#a_socio" ).val( ui.item.label );
				                 return false;
				             }
				        });				     	
			    } //fin success
		})
			 .fail(function( jqXHR, textStatus, errorThrown ) {
				 alert( "La solicitud a fallado Lista Beneficiario: " +  textStatus);
		});	
}

function modificarDpto(xcodd, xnombre){
	$('#m_codd').val(xcodd);
	$('#m_nombre').val(xnombre);
	$('#modModal').modal('show');
}

// OAM
function eliminarDpto(xcodt,xcodper, xnombre){
	//alert(xcodt+"-"+xcodper+"-"+xnombre);
	$('#d_codt').val(xcodt);
	$('#d_codper').val(xcodper);
	$('#d_nombre').val(xnombre);
	$('#delModal').modal('show');
}

function habilitarDpto(xcodd, xnombres){
	$('#h_codd').val(xcodd);
	$('#h_nombres').val(xnombres);
	$('#habModal').modal('show');
}
//////////zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz	
$(document).ready(function () {
    	 $('#dataTables-example').dataTable();
    	 $("#a_fecha").datepicker("option", "dateFormat", "dd/mm/yy" ).datepicker("setDate", ${xfecha});
    	 $("#a_fecha2").datepicker("option", "dateFormat", "dd/mm/yy" ).datepicker("setDate", ${xfecha});
    	 
         //Devuelve los mensajes de guardado
         if ($('#mensaje').val() != '0'){
        	 if ($('#mensaje').val() == '1'){
        	 	$.notify($('#menTexto').val(), "success",{ position:"center middle" });
        	 }
        	 if ($('#mensaje').val() == '2'){
         	 	$.notify($('#menTexto').val(), "error",{ position:"center middle" });
         	 }
         }
               
         //SI OCURRE CAMBIO
        $(".paramsChange").change( function() {
           // $("#paramform").submit();
        	var xestado=$('input[name=estado]:checked').val();
			jQuery.post('listaTraspasocio_det_201.html',{xestado:xestado},
						function(data){	$('#lisDptos-det').html(data);
			});
        }); 
        
         //ANULA TECLA ENTER PARA LOS INPUTS
        $("input").keypress(function(e) {
            if (e.which == 13) {
                return false;
            }
        });
         
       
         
       //Butons ACEPTAR
 		$("#btnAcept_add").click(function(){
 			var xestado=$('input[name=estado]:checked').val();
 			
 			if (validarDatos_add() == 0) {
	 			if(confirm('¿Seguro de Guardar EL Departamento?')){ 				
		 				//$("#addform").submit(); //envia los datos a destino FORM.
		 				//$('#myModal').modal('hide');
		 				$.when(	
			 	 				jQuery.post('traspasocioServices_201.html',$('#addform').serialize(), 	 						
			 	 						function(data){		 	 					
			 	 							obj = JSON.parse(data);
			 								//alert(obj.error);
			 								if (obj.error=='0'){
			 									//repetir(xdatos) 									
			 									menOK('Correcto..!','Los Datos se <b>GUARDARON satisfactoriamente</b>..!');
			 									//alert("OK");
			 									$('#myModal').modal('hide');
			 									
			 								}else{
			 									menError('Error..!', 'NO SE PUDO GUARDAR LOS DATOS..Revisar.!');			 										
			 							    }
			 	 				        } //end of function (data)
			 	 				) //END of first ajax
						).then(function() {	
								jQuery.post('listaTraspasocio_det_201.html',{xestado:xestado},
				 	 						function(data){	$('#lisDptos-det').html(data);
				 	 			});
						});
	 			}
 			}
        });	
       
 		//Butons MODIFICAR
 		$("#btnAcept_mod").click(function(){
 			var xestado=$('input[name=estado]:checked').val();
 			if (validarDatos_mod() == 0) {
 					if(confirm('¿Seguro de Modificar Datos del Departamento?')){ 				
 		 				//$("#modform").submit(); //envia los datos a destino FORM.
 		 				//$('#modModal').modal('hide'); 		 				
	 						$.when(	
				 	 				jQuery.post('dptosServices.html',$('#modform').serialize(), 	 						
				 	 						function(data){		 	 					
				 	 							obj = JSON.parse(data);
				 								//alert(obj.error);
				 								if (obj.error=='0'){
				 									//repetir(xdatos) 									
				 									menOK('Correcto..!','El <b>DEPARTAMENTO</b> se MODIFICO satisfactoriamente..!');
				 									//alert("OK");
				 									$('#modModal').modal('hide');
				 									
				 								}else{
				 									menError('Error..!', 'NO SE PUDO MODIFICAR LOS DATOS..Revisar.!');
				 							    }
				 	 				        } //end of function (data)
				 	 				) //END of first ajax
							).then(function() {	
									jQuery.post('listaDptos_det_12.html',{xestado:xestado},
					 	 						function(data){	$('#lisMenus-det').html(data);
					 	 			});
							});
 					}
 			}
 		});
 		
 		//Butons ELIMINAR  OAM
 		$("#btnAcept_del").click(function(){
 			var xestado=$('input[name=estado]:checked').val();
			//$("#delform").submit(); //envia los datos a destino FORM.
			//$('#delModal').modal('hide');
			$.when(	
	 	 				jQuery.post('traspasocioServices_201.html',$('#delform').serialize(), 	 						
				 	 						function(data){		 	 					
				 	 							obj = JSON.parse(data);
				 								//alert(obj.error);
				 								if (obj.error=='0'){
				 									//repetir(xdatos) 									
				 									menOK('Correcto..!','La <b>TRANSACCION</b> se ELIMINO satisfactoriamente..!');
				 									//alert("OK");
				 									$('#delModal').modal('hide');
				 									
				 								}else{
				 									if (obj.error=='1'){
				 										menError('Error..!', 'EL SOCIO TIENE BOLETAS CON SALDOS...Revisar.!');
				 									}else {
				 										menError('Error..!', 'NO SE PUDO ELIMINAR LOS DATOS..Revisar.!');
				 									}	
				 							    }
				 	 				        } //end of function (data)
				 	 				) //END of first ajax
						).then(function() {	
									jQuery.post('listaTraspasocio_det_201.html',{xestado:xestado},
					 	 						function(data){	$('#lisDptos-det').html(data);
					 	 			});
						});

 		});
 		
 		//Butons HABILITAR
 		$("#btnAcept_hab").click(function(){
 			var xestado=$('input[name=estado]:checked').val();
	 			$.when(	
	 	 				jQuery.post('dptosServices.html',$('#habform').serialize(), 	 						
	 	 						function(data){		 	 					
	 	 							obj = JSON.parse(data);
	 								//alert(obj.error);
	 								if (obj.error=='0'){
	 									//repetir(xdatos) 									
	 									menOK('Correcto..!','Los Datos se <b>HABILITARON satisfactoriamente</b>..!');
	 									//alert("OK");
	 									$('#habModal').modal('hide');			 									
	 								}else{
	 										menError('Error..!', 'NO SE PUDO <b>HABILITAR</b> LOS DATOS..Revisar.!');
	 							    }
	 	 				        } //end of function (data)
	 	 				) //END of first ajax
				).then(function() {	
	 	 		//		alert(xcodpadre+" -a ver- "+xestado);
						jQuery.post('listaDptos_det_12.html',{xestado:xestado},
		 	 						function(data){	$('#lisDptos-det').html(data);
		 	 			});
				});
 		});
 		
 		//Butons PRINT
 		$("#print").click(function(){
 		var xestado=$('input[name=estado]:checked').val();
 			window.open('dptosReportes01.html?xest='+xestado,'win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=825,height=550,directories=no,location=no');
        });	
 
 		//valida datos para opcion adiciona 			
 		function validarDatos_add(){
 			var sw=0;
 			
 			var xsocio=$('#a_socio').val();
 			var xsocio2=$('#a_socio_2').val();
 			var xsocio=$.trim(xsocio);
 			//en caso de haber diferencia actulizar
 			if (xsocio != '') { 				
				if (xsocio == xsocio2) {
					sw=0;
				}else{
					sw=1;
				 	menError('Error..!', 'El DATO DEL BENEFICIARIO NO ES VALIDO..!');
				 	$('#a_socio').focus();
				} 	
			}else{
 					sw=1;
				 	menError('Error..!', 'El DATO DEL BENEFICIARIO NO PUEDE SER VACIO..!');
				 	$('#a_socio').focus();
 					
 		 	}
 			return sw;
 		}
 		
    });
</script>