	<!-- BOOTSTRAP STYLES-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    
     <!-- TABLE STYLES-->
    <link href="js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
   
     <!-- DATA TABLE SCRIPTS -->
    <script src="js/dataTables/jquery.dataTables.js"></script>

    <script src="js/dataTables/dataTables.bootstrap.js"></script>

    <script src="js/tools_oam.js"></script>
    
    <link href="css/estilo1.css" rel="stylesheet">
    
    <link rel="stylesheet" href="js/jquery-ui-themes-1.12.0/themes/base/jquery-ui.css">
    <script src="js/jquery-ui-1.12.0/jquery-ui.js"></script>
    
    <script src="js/bootstrap-notify/bootstrap-notify.js"></script>
    <link href="css/myNotify.css" rel="stylesheet">
    <script src="js/myNotify.js"></script>
    
<script>
    $( function() {
        $( "#fini" ).datepicker({
          changeMonth: true,
          changeYear: true
        });        
        $( "#ffin" ).datepicker({
            changeMonth: true,
            changeYear: true
        });
        $( "#a_fecha" ).datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
    
    
</script>
        
<div class="container-fluid">          
           <!-- /. ROW  -->              
            <div  class="row">
            
                 <!-- aqui tamaño de tablas  -->               
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div  class="panel panel-default">
                        <div class="panel-heading">
                            <div class="div-cabeza">
                                <div class="div-logo-titulo">
                                    <img src="images/img-sis/cand1.png">
                                    <p class="titulo-gestiones"  id="titulo-pantalla">Gestión Compra Dolar</p>     
                                </div>                                
                                <fieldset class="col-md-12" >        
                                		<!- data-target="#myModal" -->
	                                    <legend>Parámetros::</legend>
	                                    #if (${PA}=="A")
	                                    <button class="pull-right" data-toggle="modal" id="btnAdd">
	                                        <img src="images/img-sis/add_2.png" style="width:30px; height:30px;">
	                                    </button>
	                                    #else
	                                    <button class="pull-right" data-toggle="modal">
	                                        <img src="images/img-sis/noadd_2.png" style="width:30px; height:30px;">
	                                    </button>
	                                	#end
	                                    <!-- BOTON TO PRINT -->
	                                    <button class="pull-right" id="print">
	                                        <img src="images/img-sis/print.png" style="width:30px; height:30px;">
	                                    </button>
	                                <form id="paramform" action="lugarmon.html" method="POST"> 
		                                <div class="form-group">	                                    	
			                                <div class="col-md-1">
			                                	<label class="control-label col-xs-3 ">Fecha Inicio::</label>
		                                    </div>
		                                    <div class="col-md-2">
		                                    	<input type="text" class="form-control paramsChange" name="fini" id="fini" placeholder="dd/mm/aaaa"  required>
		                                    </div>
		                                    <div class="col-md-1">
			                                	<label class="control-label col-xs-3">Fecha Fin::</label>
		                                    </div>
		                                    <div class="col-md-2">
		                                       <input type="text" class="form-control paramsChange" name="ffin" id="ffin" placeholder="dd/mm/aaaa" required>
		                                    </div>

		                                    <label><input type="radio" name="estado" value="1" class="paramsChange" #if($estado== 1) checked #end>Activos </label>
									      	<label><input type="radio" name="estado" value="0" class="paramsChange" #if($estado== 0) checked #end>Nulos</label>
									      	<label><input type="radio" name="estado" value="2" class="paramsChange" #if($estado== 2) checked #end>Todos</label>

									    </div>
									</form>    
                                </fieldset>                                                               
                            </div>
                        </div>
                        <div>	       				    		                        
<div class="espacio-small"></div>
<div class="table-responsive" id="detalle_lis">
							<table  class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
							    		<tr>
                                            <th class="text-center ancho-icono">#</th>
                                            <th class="col-sm-0 text-center">Cod.</th>
                                            <th class="col-sm-0">Fecha</th>
                                            <th class="col-sm-0">Cliente</th>
                                            <th class="col-sm-0">Dolar</th>
                                            <th class="col-sm-0">Bolivianos</th>
                                            <th class="col-sm-0">Tipo de Cambio</th>
                                            <th class="col-sm-0" title="ESTADO Compra dolar">EST</th>
                                            <th class="col-sm-0" title="ELIMINAR Compra dolar">DEL</th>
                                            <th class="col-sm-0 text-center">PR</th>
                                        </tr>
							</thead>
                                    <tbody>     
                                    	#set($con=1)
                                    	#foreach($reg in $xCompra)	                                   
                                         <tr class="gradeU">
                                            <td class="text-center">${con}</td>
                                            <td>${reg.codcom} </td>
                                            <td>${reg.getFecharegFormat()} </td>
                                            <td>${reg.cliente} </td>
                                            <td align="right">${reg.getMondolFormat()}</td>
                                            <td align="right">${reg.getMonbolFormat()}</td>
                                            <td align="right">${reg.getTcFormat()}</td>
                                            <td class="text-center ancho-icono">
                                            	#if (${reg.estado}==1)
                                            		<img src="images/img-sis/hand_up.png" id="btn-modificar" style="width:25px;">
                                            	#else	
                                            		<img src="images/img-sis/hand_down.png" style="width:25px;">
                                            	#end
                                            </td>
                                            
                                            <td class="text-center ancho-icono">
		                                            #if (${reg.estado}==1)
		                                            	#if (${PB}=="B")
		                                            	<a  href="javascript:void(0)" onclick="javascript:eliminarCompradolar('${reg.codcom}','${reg.cliente}')">
		                                            		<img src="images/img-sis/del.png" style="width:25px;" title="Eliminar Tipo de Cambio..">
		                                            	</a>
		                                            	#else
				                                			<img src="images/img-sis/nodel.png" style="width:25px;" title="SIN PRIVILEGIOS..">
				                                		#end
				                                    #else
			                                					<img src="images/img-sis/nodel.png" style="width:25px;" >
			                                		#end     	
                                            </td>
		                                	<td class="text-center ancho-icono">
										        <a href="javascript:void(0);" onclick="window.open('reportePagarBoletas2121.html?opcion=${opReporte}&codcom=${reg.getCodcomEncript()}','win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=825,height=550,directories=no,location=no');" >
				            						<img src="images/img-sis/print.png"
				            							style="vertical-align: middle; width: 24px; height: 24px"
				            							alt="Vista previa" title="Imprimir Factura.." /> 
				    							</a>
										    </td>
                                        </tr>                        
                                        #set($con=$con + 1)
                                       #end
                                    </tbody>
							</table>
</div>
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>

            </div>
            
</div>
<input type="hidden" id="listaJson" value="">
<input type="hidden" name="opcion" id="opcion_json" value="${op_json}" >
<div id="detalle-pagos">

</div>
<!--  Modals-->
<!--  Modals Adicionar-->
<div class="panel-body">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <br><br><br>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabl">Efectuar Compra Dolar</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="compradolarServices.html" method="POST" id="addform">
                        
                         <div class="form-group">
                            <label class="control-label col-xs-4">Fecha.::</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" name="a_fecha" id="a_fecha" placeholder="dd/mm/aaaa" required>
                            </div>
                        </div>                        
                        <div class="form-group">
                            <label class="control-label col-xs-4">Cliente::</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" name="a_cliente" id="a_cliente" placeholder="Cliente.." required>
                            </div>
                        </div>
                       <div class="form-group">
                            <label class="control-label col-xs-4">Tipo de Cambio::</label>
                            <div class="col-xs-6">
                            
                            	#foreach($est in $xestsoc)

										<input type="text" class="form-control montoChange" name="a_tc" id="a_tc" value="$est.tc" placeholder="Tipo De Cambio.." required>
								#end
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Monto Boliviano::</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" name="a_montobol1" id="a_montobol1" disabled>
                                <input type="hidden" class="form-control" name="a_montobol" id="a_montobol" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Monto Dolar::</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control montoChange" name="a_montodol" id="a_montodol"  placeholder="Monto Dolar.." required>
                            </div>
                        </div>
                        
                        <input type="HIDDEN" name="opcion" value="${opAdd}" >
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary boton-add" id="btnAcept_add">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Modals ELIMINAR-->
<div class="panel-body">
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    
        <br><br><br>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabl">Seguro de Eliminar El Tipo de Cambio?</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="compradolarServices.html" method="POST" id="delform">
                        	<input type="hidden" name="d_codcom" id="d_codcom">
                         <div class="form-group">
                            <label class="control-label col-xs-4">Codigo::</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" name="d_codcom1" id="d_codcom1" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Cliente::</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" name="d_cliente" id="d_cliente" disabled >
                            </div>
                        </div>
                        
                        
                        <input type="hidden" name="opcion" value="${opDel}" >
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btnAcept_del">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modals ELIMINAR-->

     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxx -->
    <link rel="stylesheet" href="js/jquery-ui-themes-1.12.0/themes/base/jquery-ui.css">
    <script src="js/jquery-ui-1.12.0/jquery-ui.js"></script>

<script>



//OAM
function ejecutarDetallePagos(){	
	$('#detalle-pagos').hide();
	
	var xfini=$('#fini').val();
	var xffin=$('#ffin').val();
	var xestado=$('input[name=estado]:checked').val();
	//alert(xestado+"-"+xfini+" - "+xffin);
	
	jQuery.post('listaCompradolar_det_21.html',{xestado:xestado,xfinicial:xfini,xffinal:xffin},
  			function(data){$('#detalle_lis').html(data);
  	});
}
function eliminarCompradolar(xcodcom,xcliente){
	$('#d_codcom').val(xcodcom);
	$('#d_codcom1').val(xcodcom);
	$('#d_cliente').val(xcliente);
	$('#delModal').modal('show');
}

function modificarLugar(xcodl, xnombre, xcodd){
	$('#m_codl').val(xcodl);
	$('#m_nombre').val(xnombre);
	$('#m_codd').val(xcodd);
	document.getElementById(xcodd).selected = "true";  
	$('#modModal').modal('show');
}

function eliminarLugar(xcodl, xnombre, xcodd){
	$('#d_codl').val(xcodl);
	$('#d_nombre').val(xnombre);
	$('#d_codd').val(xcodd);
	document.getElementById(xcodd).selected = "true";  
	$('#delModal').modal('show');
}
function habilitarLugar(xcodl, xnombre, xcodd){
	$('#h_codl').val(xcodl);
	$('#h_nombre').val(xnombre);
	$('#h_codd').val(xcodd);
	document.getElementById(xcodd).selected = "true";  
	$('#habModal').modal('show');
}


$(document).ready(function () {
    	$('#dataTables-example').dataTable(); 
    	
    	$("#fini").datepicker("option", "dateFormat", "dd/mm/yy" ).datepicker("setDate", ${xfechaini});
    	$("#ffin").datepicker("option", "dateFormat", "dd/mm/yy" ).datepicker("setDate", ${xfechafin});
    	$("#a_fecha").datepicker("option", "dateFormat", "dd/mm/yy" ).datepicker("setDate", ${xfecha});
		
         //cuando esta listo el Doc.
         if ($('select[name=b_dep]').val()==(-1)){
        	 ejecutaLista();
         }
        		 
        //SI OCURRE CAMBIO EN PARAMETROS
        $(".paramsChange").change( function() {
        	ejecutarDetallePagos();
        }); 
        
         $(".montoChange").blur( function() {     
			var tc=$('#a_tc').val();
			var montodol=$('#a_montodol').val();
			
			var res= tc*montodol;
			$('#a_montobol1').val(res);
			$('#a_montobol').val(res);			
        }); 
        
         //ANULA TECLA ENTER PARA LOS INPUTS
        $("input").keypress(function(e) {
            if (e.which == 13) {
                return false;
            }
        });
         
        //Click en BTN adicionar
        $("#btnAdd").click(function(){
        	$('#a_cliente').val("");
        	$('#a_montobol1').val("0");
        	$('#a_montobol').val("0");
        	$('#a_montodol').val("");
        	$('#myModal').modal('show');
        });
        
        //Butons ACEPTAR
 		$("#btnAcept_add").click(function(){
 			
 			if (validarDatos_add() == 0) {
	 			if(confirm('¿Seguro de Guardar La Compra del Dolar?')){ 				
		 				$.when(	
			 	 				jQuery.post('compradolarServices.html',$('#addform').serialize(), 	 						
			 	 						function(data){		 	 					
			 	 							obj = JSON.parse(data);
			 								//alert(obj.error);
			 								if (obj.error=='0'){
			 									//repetir(xdatos) 									
			 									menOK('Correcto..!','Los Datos se <b>GUARDARON satisfactoriamente</b>..!');
			 									//alert("OK");
			 									$('#myModal').modal('hide');
			 									
			 								}else{
			 									if (obj.error=='1'){
			 										menError('Error..!', 'EL CODIGO ESTA REPETIDO..Revisar.!');
			 									}else{
			 										menError('Error..!', 'NO SE PUDO GUARDAR LOS DATOS..Revisar.!');
			 									}	
			 							    }
			 	 				        } //end of function (data)
			 	 				) //END of first ajax
							).then(function() {	
			 	 		//		alert(xcodpadre+" -a ver- "+xestado);
							//	jQuery.post('listaCompradolar_det_21.html',{xestado:xestado},
				 	 			//			function(data){	$('#detalle_lis').html(data);
				 	 			//});
				 	 			ejecutarDetallePagos();
							});						
	 			}
 			}
        });	
       
 		 			//valida datos para opcion adiciona		
 		function validarDatos_add(){
 			var sw=0;
 			var tc=$('#a_tc').val();
 			var montodol=$('#a_montodol').val();
 			var xfecha=$('#a_fecha').val();
 			var cliente=$('#a_cliente').val();
 			var xtc=$.trim(tc);
 			if (xtc != tc) {
				$('#a_tc').val(xtc);
				tc=xtc;
			}			
			var xmontodol=$.trim(montodol);
 			if (xmontodol != montodol) {
				$('#a_montodol').val(xmontodol);
				montodol=xmontodol;
			}
			var xcliente=$.trim(cliente);
 			if (xcliente != cliente) {
				$('#a_cliente').val(xcliente);
				cliente=xcliente;
			}
 					
					if (tc != ""){
						if (!isNaN(tc)){
							if (validaFechaDDMMAAAA(xfecha)){
								if (montodol!= ""){
									if (!isNaN(montodol)){
										if (cliente!= ""){
											sw=0;
										}else{
												sw=1;
				 								menError('Error..!', 'El Dato </B>Cliente</B> no puede ser vacio..!');
				 								$('#a_cliente').focus();
											}	
									}else{
										sw=1;
					 					menError('Error..!', '<B>Monto Dolar </B> debe tener un valor NUMERICO..!');
					 					$('#a_tc').focus();
									}
								}else{
									sw=1;
				 					menError('Error..!', 'El Dato </B>Monto Dolar</B> no puede ser vacio..!');
				 					$('#a_montodol').focus();
								}	
							}else{
								sw=1;
					 			menError('Error..!', 'La </B>LA FECHA </B> debe ser dia/mes/año..!');
									$('#a_fecha').focus();
							}
						}else{
							sw=1;
					 		menError('Error..!', '<B>Tipo de Cambio</B> debe tener un valor NUMERICO..!');
					 		$('#a_tc').focus();
						}			
					}else{
						sw=1;
				 		menError('Error..!', 'El Dato </B>Tipo de Cambio</B> no puede ser vacio..!');
				 		$('#a_tc').focus();
					}
 				
 			
 			return sw;
 		}
 		//Butons ELIMINAR
 		$("#btnAcept_del").click(function(){
 			var xestado=$('input[name=estado]:checked').val();
				$.when(	
	 	 				jQuery.post('compradolarServices.html',$('#delform').serialize(), 	 						
	 	 						function(data){		 	 					
	 	 							obj = JSON.parse(data);
	 								//alert(obj.error);
	 								if (obj.error=='0'){
	 									//repetir(xdatos) 									
	 									menOK('Correcto..!','Los Datos se <b>ELIMINARON satisfactoriamente</b>..!');
	 									//alert("OK");
	 									$('#delModal').modal('hide');			 									
	 								}else{
	 										menError('Error..!', 'NO SE PUDO ELIMINAR LOS DATOS..Revisar.!');
	 							    }
	 	 				        } //end of function (data)
	 	 				) //END of first ajax
				).then(function() {	
	 	 		//		alert(xcodpadre+" -a ver- "+xestado);
						//jQuery.post('listaCompradolar_det_21.html',{xestado:xestado},
		 	 				//		function(data){	$('#listcambio-det').html(data);
		 	 		//	});
		 	 			ejecutarDetallePagos();
				});
 		});
 		
 		//Butons PRINT
 		$("#print").click(function(){
 			window.open('compradolarReportes01.html','win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=825,height=550,directories=no,location=no');
        });
		
		
 		
    });
</script>