							<table  class="table table-striped table-bordered table-hover" id="dataTables-example">
							<thead>
							    		<tr>
                                            <th class="text-center ancho-icono">#</th>
                                            <th class="col-sm-0 text-center">Cod.</th>
                                            <th class="col-sm-0">Fecha</th>
                                            <th class="col-sm-0">Cliente</th>
                                            <th class="col-sm-0">Dolar</th>
                                            <th class="col-sm-0">Bolivianos</th>
                                            <th class="col-sm-0">Tipo de Cambio</th>
                                            <th class="col-sm-0" title="ESTADO Compra dolar">EST</th>
                                            <th class="col-sm-0" title="ELIMINAR Compra dolar">DEL</th>
                                            <th class="col-sm-0 text-center">PR</th>
                                        </tr>
							</thead>
                                    <tbody>     
                                    	#set($con=1)
                                    	#foreach($reg in $xCompra)	                                   
                                         <tr class="gradeU">
                                            <td class="text-center">${con}</td>
                                            <td>${reg.codcom} </td>
                                            <td>${reg.getFecharegFormat()} </td>
                                            <td>${reg.cliente} </td>
                                            <td align="right">${reg.getMondolFormat()}</td>
                                            <td align="right">${reg.getMonbolFormat()}</td>
                                            <td align="right">${reg.getTcFormat()}</td>
                                            <td class="text-center ancho-icono">
                                            	#if (${reg.estado}==1)
                                            		<img src="images/img-sis/hand_up.png" id="btn-modificar" style="width:25px;">
                                            	#else	
                                            		<img src="images/img-sis/hand_down.png" style="width:25px;">
                                            	#end
                                            </td>
                                            
                                            <td class="text-center ancho-icono">
		                                            #if (${reg.estado}==1)
		                                            	#if (${PB}=="B")
		                                            	<a  href="javascript:void(0)" onclick="javascript:eliminarCompradolar('${reg.codcom}','${reg.cliente}')">
		                                            		<img src="images/img-sis/del.png" style="width:25px;" title="Eliminar Tipo de Cambio..">
		                                            	</a>
		                                            	#else
				                                			<img src="images/img-sis/nodel.png" style="width:25px;" title="SIN PRIVILEGIOS..">
				                                		#end
				                                    #else
			                                					<img src="images/img-sis/nodel.png" style="width:25px;" >
			                                		#end     	
                                            </td>
		                                	<td class="text-center ancho-icono">
										        <a href="javascript:void(0);" onclick="window.open('reportePagarBoletas2121.html?opcion=${opReporte}&codcom=${reg.getCodcomEncript()}','win2','status=no,toolbar=no,scrollbars=yes,titlebar=no,menubar=no,resizable=yes,width=825,height=550,directories=no,location=no');" >
				            						<img src="images/img-sis/print.png"
				            							style="vertical-align: middle; width: 24px; height: 24px"
				            							alt="Vista previa" title="Imprimir Factura.." /> 
				    							</a>
										    </td>
                                        </tr>                        
                                        #set($con=$con + 1)
                                       #end
                                    </tbody>
							</table>

<script>
		$(document).ready(function () {	
		     $('#dataTables-example').dataTable();
		});     
</script> 
							