
<div class="col-md-2"> </div>
        <div class="col-md-8">
            <div class="div-capa">
                <div class="div-arriba">
                    <table >
                    <thead>
                        <tr>
                            <th colspan="2" >ACTIVACIONES Y DESACTIVACIONES DE : ${xnombre} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CODIGO : ${xcodper} </td><input type="hidden" id="estado_codper" value="${xcodper}">
                            <td>NOMBRE : ${xnombre} </td><input type="hidden" id="estado_name" value="${xnombre}">
                        </tr>
                    <tbody>  
                    </table>
                </div>
                
               
                
                <div class="div-abajo">
                    <table class="table table-bordered table-hover table-striped">
                      <thead>
                        <tr>
                          <th width="2%">#</th>
                          <th>CONCEPTO</th>
                          <th>FECHA</th>
                          <th>MES INICIO</th>                         
                        </tr>
                      </thead>
                      <tbody>
                      	#set($con=1)
                        #foreach($reg in $xPersonal_activos)	
                            <tr>
                              <th scope="row">${con}</th>
                              <td>${reg.obs}</td>
                              <td>${reg.getFechaFormat()}</td>
                              <td>${reg.getMesiniFormat()}/${reg.anioini} </td>
                            </tr>
                            #set($con=$con + 1)
                        #end    
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
<div class="col-md-2"> </div>

<script>

    $(document).ready(function () {

    
    });
</script>