								<select class="form-control" name="me_Actcodes" id="me_Actcodes">
                                	#foreach($est in $xestsoc)
                                		#set($xsel="")
                                		#if (${est.codes} == ${xcodes})
                                			#set($xsel="selected")
                                		#end	
										<option value="${est.codes}@${est.padre}" $xsel >$est.nombre</option>										
									#end
								</select>
<script>

    $(document).ready(function () {
    	
    	$('#me_Actcodes').change(function(){ 
        	var codigo = $(this).val();
        	var res = codigo.split("@");
//            alert("hola amigos.."+res[1]);		
        	if (res[1] != '0'){
        		$('#me_permiso').show();
        	}else{
        		$('#me_permiso').hide();
        	}
        });
    
    	
    });
</script>	