<table  class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th class="text-center ancho-icono">#</th>
                                            <th class="col-sm-0 text-center">Fecha Transac.</th>
                                            <th class="col-sm-0 text-center">Socio Antiguo</th>
                                            <th class="col-sm-0 text-center">Socio Tranferencia</th>
                                            <th class="col-sm-0 text-center">Monto Interes</th>                                            
                                            <th class="col-sm-0 text-center" width="40%">Observación</th>
                                            <th class="col-sm-0 text-center">EST</th>
                                            <th class="col-sm-0">DEL</th>
                                        </tr>
                                    </thead>
                                    <tbody>     
                                        #set($con=1)
                                        #foreach($reg in $xTras)                                       
                                         <tr class="gradeU">
                                            <td class="text-center">${con}</td>
                                            <td>${reg.getFechaFormat()}</td>
                                            <td>${reg.getDatosPersona()}</td>
                                            <td>${reg.getDatosPersona_2()}</td>
                                            <td class="col-sm-0 text-center">${reg.interes}</td>
                                            <td>${reg.obs}</td>
                                            <td class="text-center ancho-icono">
                                                #if (${reg.estado}==1)
                                                    <img src="images/img-sis/hand_up.png" id="btn-modificar" style="width:25px;">
                                                #else   
                                                    <img src="images/img-sis/hand_down.png" style="width:25px;">
                                                #end
                                            </td>
                                             <td class="text-center ancho-icono">
                                               #if (${reg.estado}==1) 
                                                    #if (${PB}=="B")
                                                        <a  href="javascript:void(0)" onclick="javascript:eliminarTranfer('${reg.codtra}','${reg.codper_padre}','${reg.getDatosPersona()}','${reg.codper_hijo}','${reg.getDatosPersona_2()}')">
                                                            <img src="images/img-sis/del.png" style="width:25px;" title="Eliminar Traspaso a Socio..">
                                                        </a>
                                                    #else
                                                        <img src="images/img-sis/nodel.png" style="width:25px;" title="SIN PRIVILEGIOS..">
                                                    #end    
                                               #else
                                                    <img src="images/img-sis/nodel.png" style="width:25px;" title="NO ES USUARIO ACTIVO..">
                                               #end   
                                            </td>
                                         </tr>                        
                                        #set($con=$con + 1)
                                       #end               
                                    </tbody>
                                </table>

<script>
        $(document).ready(function () { 
             $('#dataTables-example').dataTable();

        });     
</script>